{{ define "main" }}
<div class="prose prose-stone dark:prose-invert max-w-none">
<div class="mb-3">
  <h1 class="top-h1" style="font-size: 2.75em">{{- .Title -}}</h1>
  <p class="mb-1">{{ .Date.Format "January 25, 2024" }}</p>
  <p>&mdash;</p>
</div>
<div class="content">
  {{ .Content }}
</div>
</div>
{{ partial "prevnext" . }}
{{ end }}
